<div class="container" >
  <div class="row padding10">
    <% if @over_ten %>
      <%= link_to 'Show Previous', '?m=all' %>
    <% end %>
    <div class="ui segment">
      <% @messages.each do |message| %>
        <% if message.body %>
          <% user = User.find(message.user_id) %>
          <div class="item">
            <div class="content">
              <div class="header"><strong><%= user.email %></strong> <%= message.message_time %></div>
              <div class="list">
                <div class="item">
                  <i class="right triangle icon"></i>
                  <%= message.body %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
      <div class="field">
        <%= f.text_area :body, class: "form-control" %>
      </div>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
      <div>
        <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
      </div>
    <% end %>
  </div>
</div>
