<h3 style="margin: 0;text-align:center;"><%= params[:type].capitalize rescue nil %> Sign up</h3>
<div class="login-page" style="max-width:600px;width:600px;padding-top: 2%;">
  <div class="form" style="max-width:600px;">
  <%= devise_error_messages! %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "login-form",:style=>'max-width: 510px;width: 510px;'}) do |f| %>
    
      <%= hidden_field_tag 'user[roles]', 3 if params[:type] == "participant"%>
      <%= hidden_field_tag 'user[roles]', 2 if params[:type] == "organiser"  %>
      <%= f.email_field :email, autofocus: true, placeholder: 'username' %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", placeholder: 'password' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'confirm password' %>
      <%= render 'users/user_registration_form', :f => f if params[:type] == "participant"%>
      <%= render 'users/organizer_registration_form', :f => f if params[:type] == "organiser" %>
      <%= f.submit "Sign up", class: "submit" %>
      <p class="message"><%= render "devise/shared/links" %></p>
    <% end %>
  </div>
</div>
