<!-- <div class="container"> -->
  <!-- <div class="row"> -->
    <div class="col-md-12">
      <div class="page-header" style="margin-top:0;">
        <h1><small class="pull-right"><%= (@bounty.comments.count == 0) ? 'No' : @bounty.comments.count %> comments</small> Comments </h1>
      </div> 
      <div class="comments-list">
        <% @bounty.comments.each do |comment| %>
          <div class="media">
            <div class="col-xs-12">
              <div class="col-xs-1">
                <%= image_tag(comment_user_avatar(comment.user), :style=>'width:30px;') %>
              </div>
              <div class="col-xs-9">
                <h4 class="media-heading user_name"><%= comment.body %></h4>
                <%= comment.user.email %>
              </div>
              <div class="col-xs-2">
              <p class="pull-right"><small><%= time_ago_in_words((comment.created_at || Time.now)) %></small></p>
            </div>
            </div>
            
          </div>
        <% end %>
      </div>
    </div>
  <!-- </div> -->
<!-- </div> -->