<!-- <div class="container"> -->
  <!-- <div class="row"> -->
    <div class="col-md-12">
      <%= form_with(model: comment,  remote: true) do |form| %>
        <% if comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

            <ul>
            <% comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field" style="margin-top:5%;">
          <%= form.text_area :body, id: :comment_body, :class => 'form-control', :rows => 5 %>
        </div>

        <%= hidden_field_tag 'comment[user_id]', current_user.id %>
        <%= hidden_field_tag 'comment[bounty_id]', @bounty.id %>

        <div class="actions" style="text-align:right;">
          <%= form.submit('Comment', :class => 'btn btn-success') %>
        </div>
      <% end %>
    </div>
  <!-- </div> -->
<!-- </div> -->