<!-- <h1>Conversations#index</h1>
<p>Find me in app/views/conversations/index.html.erb</p>
 -->

 <div class="ui segment">
  <h3>Mailbox</h3>

  <div class="ui list">
    <div class="item">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id.to_s || conversation.recipient_id == current_user.id.to_s %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <%= link_to recipient.email, conversation_messages_path(conversation)%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>