<h2>Login</h2>
<div class="login-page">
  <div class="form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "login-form"}) do |f| %>
      <%= devise_error_messages! %>
      <%= f.email_field :email, autofocus: true, placeholder: 'username' %>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'password' %>
      <% if devise_mapping.rememberable? -%>
        <div class="form-check remember-me-block">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <%= f.submit "Log in", class: "submit" %>
    <% end %>
  </div>
</div>