<%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <%= hidden_field_tag 'user[roles]', params["roles"].to_i unless params["roles"].blank? %>
  <% if @user.roles == :participant || params["roles"] == "3" %>
    <%= render 'user_form', f: f %>
  <% elsif @user.roles == :organizer || params["roles"] == "2" %>
    <%= render 'organizer_form', f: f %>
  <% elsif @user.roles == :admin%>
    <%= render 'user_form', f: f %>
    <%= render 'organizer_form', f: f %>
  <% end %>

  

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_path(@user), :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
