 <dt><strong><%= model_class.human_attribute_name(:roles) %>:</strong></dt>
 <dd><%= @user.roles %></dd>
 <dt><strong><%= model_class.human_attribute_name(:project_name) %>:</strong></dt>
 <dd><%= @user.project_name %></dd>
 <dt><strong><%= model_class.human_attribute_name(:token_abbreviation) %>:</strong></dt>
 <dd><%= @user.token_abbreviation %></dd>
 <dt><strong><%= model_class.human_attribute_name(:website) %>:</strong></dt>
 <dd><%= @user.website %></dd>
 <dt><strong><%= model_class.human_attribute_name(:twitter) %>:</strong></dt>
 <dd><%= @user.twitter %></dd>
 <dt><strong><%= model_class.human_attribute_name(:medium) %>:</strong></dt>
 <dd><%= @user.medium %></dd>
 <dt><strong><%= model_class.human_attribute_name(:facebook) %>:</strong></dt>
 <dd><%= @user.facebook %></dd>
<dt><strong><%= model_class.human_attribute_name(:slack) %>:</strong></dt>
 <dd><%= @user.slack %></dd>
 <dt><strong><%= model_class.human_attribute_name(:ico) %>:</strong></dt>
 <dd><%= @user.ico %></dd>
 <dt><strong><%= model_class.human_attribute_name(:supply) %>:</strong></dt>
 <dd><%= @user.supply %></dd>
<dt><strong><%= model_class.human_attribute_name(:total_supply) %>:</strong></dt>
 <dd><%= @user.total_supply %></dd>
 <dt><strong><%= model_class.human_attribute_name(:accept_currency) %>:</strong></dt>
 <dd><%= @user.accept_currency %></dd>
 <dt><strong><%= model_class.human_attribute_name(:ico_start_time) %>:</strong></dt>
 <dd><%= @user.ico_start_time %></dd>
 <dt><strong><%= model_class.human_attribute_name(:ico_end_time) %>:</strong></dt>
 <dd><%= @user.ico_end_time %></dd>
 <dt><strong><%= model_class.human_attribute_name(:project_introduction) %>:</strong></dt>
 <dd><%= @user.project_introduction %></dd>
 

 