
  <div class="form-group">
    <%= f.label :project_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :project_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:project_name) %>
  </div>
  <div class="form-group">
    <%= f.label :token_abbreviation, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :token_abbreviation, :class => 'form-control' %>
    </div>
    <%=f.error_span(:token_abbreviation) %>
  </div>
  <div class="form-group">
    <%= f.label :website, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :website, :class => 'form-control' %>
    </div>
    <%=f.error_span(:website) %>
  </div>

  <div class="form-group">
    <%= f.label :twitter, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :twitter, :class => 'form-control' %>
    </div>
    <%=f.error_span(:twitter) %>
  </div>
  <div class="form-group">
    <%= f.label :medium, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :medium, :class => 'form-control' %>
    </div>
    <%=f.error_span(:medium) %>
  </div>

  <div class="form-group">
    <%= f.label :facebook, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :facebook, :class => 'form-control' %>
    </div>
    <%=f.error_span(:facebook) %>
  </div>

  <div class="form-group">
    <%= f.label :slack, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :slack, :class => 'form-control' %>
    </div>
    <%=f.error_span(:slack) %>
  </div>

  <div class="form-group">
    <%= f.label :ico, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ico, :class => 'form-control' %>
    </div>
    <%=f.error_span(:ico) %>
  </div>

  <div class="form-group">
    <%= f.label :supply, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :supply, :class => 'form-control' %>
    </div>
    <%=f.error_span(:supply) %>
  </div>

  <div class="form-group">
    <%= f.label :total_supply, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :total_supply, :class => 'form-control' %>
    </div>
    <%=f.error_span(:total_supply) %>
  </div>

  <div class="form-group">
    <%= f.label :accept_currency, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :accept_currency, :class => 'form-control' %>
    </div>
    <%=f.error_span(:accept_currency) %>
  </div>

  <div class="form-group">
    <%= f.label :ico_start_time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_field :ico_start_time, :class => 'form-control' %>
    </div>
    <%=f.error_span(:ico_start_time) %>
  </div>

  <div class="form-group">
    <%= f.label :ico_end_time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_field :ico_end_time, :class => 'form-control' %>
    </div>
    <%=f.error_span(:ico_end_time) %>
  </div>

  <div class="form-group">
    <%= f.label :project_introduction, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :project_introduction, :class => 'form-control' %>
    </div>
    <%=f.error_span(:project_introduction) %>
  </div>

