<%= f.text_field :project_name, placeholder: 'Project Name' %>
<%= f.text_field :token_abbreviation, placeholder: 'Token Abbreviation' %>
<%= f.text_field :website, placeholder: 'Website' %>
<%= f.text_field :twitter, placeholder: 'Twitter' %>
<%= f.text_field :medium, placeholder: 'Medium' %>
<%= f.text_field :facebook, placeholder: 'Facebook' %>
<%= f.text_field :slack, placeholder: 'Slack' %>
<%= f.text_field :ico, placeholder: 'ICO' %>
<%= f.text_field :supply, placeholder: 'Supply' %>
<%= f.number_field :total_supply, placeholder: 'Total Supply' %>
<%= f.text_field :accept_currency, placeholder: 'Accept Currency' %>
<em>(ICO Start Time)</em>
<%= f.date_field :ico_start_time, placeholder: 'Ico Start Time' %>
<em>(ICO End Time)</em>
<%= f.date_field :ico_end_time, placeholder: 'ICO End Time' %>
<%= f.text_field :project_introduction, placeholder: 'Project Introduction' %>