<%= f.text_field :eth_address, placeholder: 'Eth Address' %>
<%= f.text_field :bitcoin_talk_profile_url, placeholder: 'Bitcoin Talk Profile Url' %>
<%= f.number_field :telegram_id, placeholder: 'Telegram ID' %>