<div class="form-group">
  <%= f.label :eth_address, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_field :eth_address, :class => 'form-control' %>
  </div>
  <%=f.error_span(:eth_address) %>
</div>
<div class="form-group">
  <%= f.label :bitcoin_talk_profile_url, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_field :bitcoin_talk_profile_url, :class => 'form-control' %>
  </div>
  <%=f.error_span(:bitcoin_talk_profile_url) %>
</div>
<div class="form-group">
  <%= f.label :telegram_id, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.number_field :telegram_id, :class => 'form-control' %>
  </div>
  <%=f.error_span(:telegram_id) %>
</div>