 <dt><strong><%= model_class.human_attribute_name(:roles) %>:</strong></dt>
 <dd><%= @user.roles %></dd>
 <dt><strong><%= model_class.human_attribute_name(:eth_address) %>:</strong></dt>
 <dd><%= @user.eth_address %></dd>
 <dt><strong><%= model_class.human_attribute_name(:bitcoin_talk_profile_url) %>:</strong></dt>
 <dd><%= @user.bitcoin_talk_profile_url %></dd>
 <dt><strong><%= model_class.human_attribute_name(:telegram_id) %>:</strong></dt>
 <dd><%= @user.telegram_id %></dd>