<h1>Please select your profile type. </h1>
<div class="row">
  <a class="btn btn-default" href="/users/sign_up?type=participant"><span class="translation_missing" title="translation missing: en.helpers.links.participant">Participant</span></a>
  <a class="btn btn-default" href="/users/sign_up?type=organiser"><span class="translation_missing" title="translation missing: en.helpers.links.organizer">Organizer</span></a>
</div>