<%- model_class = User -%>
<%  reject_status = (@user.status == "reject" ? "active_status" : "")
        approve_status = (@user.status == "approved" ? "active_status" : "")
     %>

<div class="">
  <% if current_user.roles == :admin %>
    <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  <% elsif current_user.roles.blank? %>
     <h1>Please select your profile type. </h1>
  <% else %>
    <% if current_user.roles == :organizer %>
      <div class="row" style="padding-bottom: 9px;margin: 0px 0 20px;border-bottom: 1px solid #eee;">
        <div class="col-xs-6">
          <h1>Profile</h1>
        </div>
        <div class="col-xs-6" style="text-align: right;padding-top: 2%;">
          <a href="/dashboard">
            <input type="button" value="Dashboard" class="btn btn-success">
          </a>
        </div>
      </div>
    <% else %>
      <div class="row" style="padding-bottom: 9px;margin: 0px 0 20px;border-bottom: 1px solid #eee;">
        <h1>Profile</h1>
      </div>
    <% end %>
  <% end %>
</div>

<dl class="dl-horizontal">
  <% unless current_user.blank? %>
    <% unless @user.roles == :admin %>
      <div>
          <% if @user.status == "reject" %>
           <%= link_to t('.reject', :default => t("helpers.links.rejected")),
                  '/change_user_status/'+@user.id+'?status=reject',
                  :class => 'btn btn-primary pending-button disabled '+reject_status, :style => 'color:white;' %>
            <%= link_to t('.approve', :default => t("helpers.links.approve")),
                  '/change_user_status/'+@user.id+'?status=approved',
                  :class => 'btn btn-primary pending-button '+approve_status, :style => '' %>  
          <% elsif @user.status == "approved" %>
            <%= link_to t('.approve', :default => t("helpers.links.approved")),
                  '/change_user_status/'+@user.id+'?status=approved',
                  :class => 'btn btn-primary pending-button disabled '+approve_status, :style => 'color:white;' %>
            <%= link_to t('.reject', :default => t("helpers.links.reject")),
                  '/change_user_status/'+@user.id+'?status=reject',
                  :class => 'btn btn-primary pending-button '+reject_status, :style => '' %>
          <% else %>
            <%= link_to t('.approve', :default => t("helpers.links.approve")),
                  '/change_user_status/'+@user.id+'?status=approved',
                  :class => 'btn btn-primary pending-button '+approve_status, :style => 'color:white;' %>
            <%= link_to t('.reject', :default => t("helpers.links.reject")),
                  '/change_user_status/'+@user.id+'?status=reject',
                  :class => 'btn btn-primary pending-button '+reject_status, :style => '' %>
          <% end %>
      </div>
    <% end %>
    <% if @user.roles == :organizer %>
      <%= render 'organizer_profile', model_class: model_class %>
    <% elsif @user.roles == :participant %>
      <%= render 'user_profile', model_class: model_class %>
    <% end %>
  <% end %>
</dl>

<% if current_user.roles.blank? %>
  <div class="row">
    <%= link_to t('.participant', :default => t("helpers.links.participant")),
              edit_user_path(@user)+"?roles=3", :class => 'btn btn-default' %>
    <%= link_to t('.organizer', :default => t("helpers.links.organizer")),
              edit_user_path(@user)+"?roles=2", :class => 'btn btn-default' %>
  </div>
<% end %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn btn-default'  if current_user.roles == :admin%>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn btn-default' unless current_user.roles.blank? %>
<%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
