<% if current_user.present?  %>
	<% if current_user.roles == :admin %>
		<%= form_tag '/upload_template', multipart: true, :id => 'filter_form', :remote => true do %>
			<%= file_field_tag "file" %>
			<%= submit_tag %>
		<% end %>
	<% end %>
<% end %>