<div class="">
	<div class="col-xs-12" style="border-bottom: 1px solid #eee;">
		<div class="col-xs-10">
	    <h1>Bounty List</h1>
	  </div>
	  <div class="col-xs-2" style="text-align:right;">
	    <%= link_to t('.new', :default => t("helpers.links.new")),
	            new_bounty_path,
	            :class => 'btn btn-primary', :style => 'margin-top: 20px;
	    margin-bottom: 10px;color:white;' if current_user.roles == :organizer %>
	  </div>
	</div>
</div>

<div class="col-xs-12">
	<% unless @bounties.blank? %>
		<% @bounties.each do |bounty| %>
			<div class="row bounty-container">
			 	<div class="col-xs-8">
			 	 	<div class="col-xs-6">
			 	 		<%= bounty.name %>
			 	 	</div>
			 	 	<div class="col-xs-6" style="text-align:right">
			 	 		10TUG
			 	 	</div>
			 	</div>
			 	<div class="col-xs-4" style="text-align:right">
			 		<%= link_to t('.show', :default => t("helpers.links.show")),
                      bounty_path(bounty), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_bounty_path(bounty), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bounty_path(bounty),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
			 	</div>
			</div>
		<% end %>
	<% end %>
</div>