<%= form_for @bounty, :html => { :class => "form-horizontal bounty" } do |f| %>
<div class="container">
  <% if @bounty.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@bounty.errors.count, "error") %> prohibited this bounty from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @bounty.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
      <div class="col-lg-2"></div>
      <div class="col-lg-10">
        <select cass="form-control" id="readv_template">
          <option value="volvo">Selecet readv template</option>
          <option value="volvo">BitcoinTalk Signature & Avatars</option>
          <option value="saab">YouTube Video</option>
          <option value="opel">Invite friend to the Telegram group</option>
          <option value="audi">Translations</option>
          <option value="audi">Bonus</option>
          <option value="audi">Facebook</option>
          <option value="audi">Twitter</option>
        </select>
      </div>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:short_explanation) %>
  </div>
  <div class="form-group">
    <%= f.label :short_explanation, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :short_explanation, :class => 'form-control' %>
    </div>
    <%=f.error_span(:short_explanation) %>
  </div>
  <div class="form-group">
    <%= f.label :rewords_for, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :rewords_for, :class => 'form-control' %>
    </div>
    <%=f.error_span(:rewords_for) %>
  </div>
  <div class="form-group">
    <%= f.label :no_of_token, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :no_of_token, :class => 'form-control' %>
    </div>
    <%=f.error_span(:no_of_token) %>
  </div>
  <div class="form-group">
    <%= f.label :instruction, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :instruction, :class => 'form-control' %>
    </div>
    <%=f.error_span(:instruction) %>
  </div>
  <div class="form-group">
    <%= f.label :sale_starts, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_field :sale_starts, :class => 'form-control' %>
    </div>
    <%=f.error_span(:sale_starts) %>
  </div>
  <div class="form-group">
    <%= f.label :goal, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :goal, :class => 'form-control' %>
    </div>
    <%=f.error_span(:goal) %>
  </div>
  <div class="form-group">
    <%= f.label :ticker, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ticker, :class => 'form-control' %>
    </div>
    <%=f.error_span(:ticker) %>
  </div>
  <div class="form-group">
    <%= f.label :token_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :token_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:token_type) %>
  </div>
  <div class="form-group">
    <%= f.label :ico_token_price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :ico_token_price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:ico_token_price) %>
  </div>
  <div class="form-group">
    <%= f.label :fundraising_goal, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :fundraising_goal, :class => 'form-control' %>
    </div>
    <%=f.error_span(:fundraising_goal) %>
  </div>
  <div class="form-group">
    <%= f.label :total_tokens, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :total_tokens, :class => 'form-control' %>
    </div>
    <%=f.error_span(:total_tokens) %>
  </div>
  <div class="form-group">
    <%= f.label :available_for_token_sale, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :available_for_token_sale, :class => 'form-control' %>
    </div>
    <%=f.error_span(:available_for_token_sale) %>
  </div>
  <div class="form-group">
    <%= f.label :whitelist, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.check_box :whitelist, :class => '' %>
    </div>
    <%=f.error_span(:whitelist) %>
  </div>
  <div class="form-group">
    <%= f.label :kyc, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.check_box :kyc %>
    </div>
    <%=f.error_span(:kyc) %>
  </div>
  <div class="form-group">
    <%= f.label :toke_issue, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :toke_issue, :class => 'form-control' %>
    </div>
    <%=f.error_span(:toke_issue) %>
  </div>
  <div class="form-group">
    <%= f.label :string, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :string, :class => 'form-control' %>
    </div>
    <%=f.error_span(:string) %>
  </div>
  <div class="form-group">
    <%= f.label :accepts, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :accepts, :class => 'form-control' %>
    </div>
    <%=f.error_span(:accepts) %>
  </div>
  <div class="form-group">
    <%= f.label :social_activiti_level, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :social_activiti_level, :class => 'form-control' %>
    </div>
    <%=f.error_span(:social_activiti_level) %>
  </div>
  <div class="form-group">
    <%= f.label :no_of_team_members, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :no_of_team_members, :class => 'form-control' %>
    </div>
    <%=f.error_span(:no_of_team_members) %>
  </div>
  <div class="form-group">
    <%= f.label :ico_active_from, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_field :ico_active_from, :class => 'form-control' %>
    </div>
    <%=f.error_span(:ico_active_from) %>
  </div>
  <div class="form-group">
    <%= f.label :prototypr, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :prototypr, :class => 'form-control' %>
    </div>
    <%=f.error_span(:prototypr) %>
  </div>
  <div class="form-group">
    <%= f.label :role_of_token, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :role_of_token, :class => 'form-control' %>
    </div>
    <%=f.error_span(:role_of_token) %>
  </div>
  <div class="form-group">
    <%= f.label :escrow, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.check_box :escrow %>
    </div>
    <%=f.error_span(:escrow) %>
  </div>
  <%= hidden_field_tag 'user_id', current_user.id %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bounties_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>

<% end %>
