<h1>Participants:</h1>
<% unless @bounty.participants.blank? %>
  <% @bounty.participants.each_with_index do |participant,index| %>
    <dl class="dl-horizontal">
      <dt><%= index+1 %>. <strong>Email:</strong></dt>
      <dd><%= participant.user.email rescue nil %></dd>
    </dl>
  <% end %>
<% else %>
  <h1>No participants</h1>
<% end %>