<%- model_class = Bounty -%>
<div class="">
  <div class="col-xs-12" style="border-bottom: 1px solid #eee;">
    <div class="col-xs-9">
      <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
    </div>
    <%  reject_status = (@bounty.status == "reject" ? "active_status" : "")
        approve_status = (@bounty.status == "approved" ? "active_status" : "")
     %>
    <div class="col-xs-3" style="text-align:right;">
      <% if current_user.roles == :admin %>
        <% if @bounty.status == "reject" %>
         <%= link_to t('.reject', :default => t("helpers.links.rejected")),
                '/change_status/'+@bounty.id+'?status=reject',
                :class => 'btn btn-primary pending-button disabled '+reject_status, :style => 'color:white;' %>
          <%= link_to t('.approve', :default => t("helpers.links.approve")),
                '/change_status/'+@bounty.id+'?status=approved',
                :class => 'btn btn-primary pending-button '+approve_status, :style => '' %>  
        <% elsif @bounty.status == "approved" %>
          <%= link_to t('.approve', :default => t("helpers.links.approved")),
                '/change_status/'+@bounty.id+'?status=approved',
                :class => 'btn btn-primary pending-button disabled '+approve_status, :style => 'color:white;' %>
          <%= link_to t('.reject', :default => t("helpers.links.reject")),
                '/change_status/'+@bounty.id+'?status=reject',
                :class => 'btn btn-primary pending-button '+reject_status, :style => '' %>
        <% else %>
          <%= link_to t('.approve', :default => t("helpers.links.approve")),
                '/change_status/'+@bounty.id+'?status=approved',
                :class => 'btn btn-primary pending-button '+approve_status, :style => 'color:white;' %>
          <%= link_to t('.reject', :default => t("helpers.links.reject")),
                '/change_status/'+@bounty.id+'?status=reject',
                :class => 'btn btn-primary pending-button '+reject_status, :style => '' %>
        <% end %>
      <% elsif current_user.roles == :organizer %>
        <%= link_to 'Chat', '/conversations', :class => "btn btn-primary pull-right participate-btn" %>
      <% end %>
    </div>
  </div>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:short_explanation) %>:</strong></dt>
  <dd><%= @bounty.short_explanation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rewords_for) %>:</strong></dt>
  <dd><%= @bounty.rewords_for %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_of_token) %>:</strong></dt>
  <dd><%= @bounty.no_of_token %></dd>
  <dt><strong><%= model_class.human_attribute_name(:instruction) %>:</strong></dt>
  <dd><%= @bounty.instruction %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sale_starts) %>:</strong></dt>
  <dd><%= @bounty.sale_starts %></dd>
  <dt><strong><%= model_class.human_attribute_name(:goal) %>:</strong></dt>
  <dd><%= @bounty.goal %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ticker) %>:</strong></dt>
  <dd><%= @bounty.ticker %></dd>
  <dt><strong><%= model_class.human_attribute_name(:token_type) %>:</strong></dt>
  <dd><%= @bounty.token_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ico_token_price) %>:</strong></dt>
  <dd><%= @bounty.ico_token_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fundraising_goal) %>:</strong></dt>
  <dd><%= @bounty.fundraising_goal %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_tokens) %>:</strong></dt>
  <dd><%= @bounty.total_tokens %></dd>
  <dt><strong><%= model_class.human_attribute_name(:available_for_token_sale) %>:</strong></dt>
  <dd><%= @bounty.available_for_token_sale %></dd>
  <dt><strong><%= model_class.human_attribute_name(:whitelist) %>:</strong></dt>
  <dd><%= @bounty.whitelist %></dd>
  <dt><strong><%= model_class.human_attribute_name(:kyc) %>:</strong></dt>
  <dd><%= @bounty.kyc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:toke_issue) %>:</strong></dt>
  <dd><%= @bounty.toke_issue %></dd>
  <dt><strong><%= model_class.human_attribute_name(:string) %>:</strong></dt>
  <dd><%= @bounty.string %></dd>
  <dt><strong><%= model_class.human_attribute_name(:accepts) %>:</strong></dt>
  <dd><%= @bounty.accepts %></dd>
  <dt><strong><%= model_class.human_attribute_name(:social_activiti_level) %>:</strong></dt>
  <dd><%= @bounty.social_activiti_level %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_of_team_members) %>:</strong></dt>
  <dd><%= @bounty.no_of_team_members %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ico_active_from) %>:</strong></dt>
  <dd><%= @bounty.ico_active_from %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prototypr) %>:</strong></dt>
  <dd><%= @bounty.prototypr %></dd>
  <dt><strong><%= model_class.human_attribute_name(:role_of_token) %>:</strong></dt>
  <dd><%= @bounty.role_of_token %></dd>
  <dt><strong><%= model_class.human_attribute_name(:escrow) %>:</strong></dt>
  <dd><%= @bounty.escrow %></dd>
</dl>

<%= render 'participants' %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              bounties_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bounty_path(@bounty), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              bounty_path(@bounty),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
