<div class = "col-sm-12 padding-15 footer-bg white-text" id = "landing-footer" style="padding-top: 2%; margin-bottom: -2px;">
	<div class = "bounty-flex b-flex-space-between">
		<a href = ""><span class="line-height-40">Terms and Conditions</span></a>
		<a href = ""><span class="line-height-40">How it works</span></a>
		<a href = ""><span class="line-height-40">About Us</span></a>
		<a href = ""><span class="line-height-40">Blog</span></a>
		<a href = ""><span class="line-height-40">FAQs</span></a>
		<a href = ""><span class="line-height-40">Contact us &amp; Support</span></a>
		<a href = ""><span class="line-height-40">Social media links</span></a>
	</div>
	<div class = "bounty-flex b-flex-start"><a href = ""><span class="line-height-40">Privacy Policy</span></a></div>
	<div class = "bounty-flex b-flex-start"><a href = ""><span class="line-height-40">Use of Cookies</span></a></div>
	<div class = "bounty-flex b-flex-start"><a href = ""><span class="line-height-40">Insurance Coverage</span></a></div>
	<div class = "bounty-flex b-flex-start"><a href = ""><span class="line-height-40">Careers</span></a></div>
</div>
<div id = "footer-responsive" class = "footer-bg white-text" style="display: flex; flex-wrap: wrap;">
	<a href = ""><span class="line-height-40">Terms and Conditions</span></a>
	<a href = ""><span class="line-height-40">How it works</span></a>
	<a href = ""><span class="line-height-40">About Us</span></a>
	<a href = ""><span class="line-height-40">Blog</span></a>
	<a href = ""><span class="line-height-40">FAQs</span></a>
	<a href = ""><span class="line-height-40">Contact us &amp; Support</span></a>
	<a href = ""><span class="line-height-40">Social media links</span></a>
	<a href = ""><span class="line-height-40">Privacy Policy</span></a>
	<a href = ""><span class="line-height-40">Use of Cookies</span></a>
	<a href = ""><span class="line-height-40">Insurance Coverage</span></a>
	<a href = ""><span class="line-height-40">Careers</span></a>
</div>