<div id="mySidenav" class="sidenav">
  <ul style="padding-left:20px;">  
    <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
    <li><a href = "/">HOME</a></li>
    <% if current_user.present? %>
		<% if current_user.roles == :admin %>
			<li><a href = "/users">USERS</a></li>
		<% end %>
	<% end %>
    <li><a href="">ICONS</a></li>
    <% if current_user.present? %>
		<% if current_user.roles == :organizer || current_user.roles == :admin %>
			<li><a href="/bounties">BOUNTY</a></li>
		<% end %>
	<% end %>
    <li><a href="">ADD YOUR BOUNTY</a></li>
    <% if current_user.present? %>
		<% if current_user.roles == :admin %>
			<li><a href = "/upload_template_header">UPLOAD TEMPLATE</a></li>
		<% end %>
	<% end %>
    <% if user_signed_in? %>
		<li><%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %></li>
		
	<% else %>
		<li><%= link_to "LOGIN", new_user_session_path %></li>
		<li><%= link_to "SIGN UP", '/create_profile' %></li>
	<% end %>
  </ul>  
</div>
<div id = "mob-menu-click-main">
  <div id = "mob-menu-click-bar" style="" onclick="openNav()">&#9776;</div>
</div>
<div class = "col-sm-12 padding10 header-bg white-text top-header-menu" id = "header-top">
	<div class = "col-sm-4">
		<span class = "size24 white-text"><a href= "">Bounty Monster</a></span>
	</div>
	<div class = "col-sm-8">
	<div class = "bounty-flex b-flex-space-around">
	<span class="icon-bar"><a href = "/">HOME</a></span>
	<% if current_user.present? %>
		<% if current_user.roles == :admin %>
			<span class="icon-bar"><a href = "/users">USERS</a></span>
		<% end %>
	<% end %>
	<span class="icon-bar"><a href = "">ICONS</a></span>
	<% if current_user.present? %>
		<% if current_user.roles == :organizer || current_user.roles == :admin%>
			<span class="icon-bar"><a href="/bounties">BOUNTY</a></span>
		<% end %>
	<% end %>
	<span class="icon-bar"><a href = "">ADD YOUR BOUNTY</a></span>
	<% if current_user.present? %>
		<% if current_user.roles == :admin %>
			<span class="icon-bar"><a href = "/upload_template_header">UPLOAD TEMPLATE</a></span>
		<% end %>
	<% end %>
	<% if user_signed_in? %>
		<span class="icon-bar"><%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %></span>
	<% else %>
		<span class="icon-bar"><%= link_to "LOGIN", new_user_session_path %></span>
		<span class="icon-bar"><%= link_to "SIGN UP", '/create_profile' %></span>
	<% end %>
	</div>
	</div>
</div>
<script type="text/javascript">
	function openNav() {
		document.getElementById("mySidenav").style.width = "250px";
		document.getElementById("mySidenav").style.padding = "5%";
	}
	function closeNav() {
		document.getElementById("mySidenav").style.width = "0";
		document.getElementById("mySidenav").style.padding = "0";
	}
</script>