<%= render 'welcome/header_2' %>
<div class="well well-lg text-center bounty-flex b-flex-center white-text header-bg header-len zero-border zero-border-radius" id = "header-big">
	<div>
		<div class = "size24 line-height-40">Your heading here</div>
		<div>Signup Now &amp; Get one month premium membership for free!</div>
	</div>
</div>