<div class= "row padding20 margin5" id = "menu_boxes">
	<div class = "bounty-flex b-flex-space-around">
		<div class = "bounty-flex b-flex-column b-flex-center menu-img-box">
			<span>ENVION</span>
			<%= image_tag 'volinex.jpg', class: 'menu-img' %>
		</div>
		<div class = "bounty-flex b-flex-column b-flex-center menu-img-box">
			<span>VOLINEX</span>
			<%= image_tag 'volinex.jpg', class: 'menu-img' %>
		</div>
		<div class = "bounty-flex b-flex-column b-flex-center menu-img-box">
			<span>KRIOS</span>
			<%= image_tag 'krios.jpg', class: 'menu-img' %>
		</div>
		<div class = "bounty-flex b-flex-column b-flex-center menu-img-box">
			<span>CLN</span>
			<%= image_tag 'cln.jpg', class: 'menu-img' %>
		</div>
		<div class = "bounty-flex b-flex-column b-flex-center menu-img-box">
			<span>DADI</span>
			<%= image_tag 'dadi.jpg', class: 'menu-img' %>
		</div>
	</div>
</div>