<div class="modal fade" id="recaptchaparticipate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      <p id = "message">Please verify recaptcha to submit</p>
      <%= form_tag('/participate?id='+@bounty.id, remote: true)  do %>
        <fieldset>
          <%= recaptcha_tags %>
          <button type="button" class="btn btn-default close-participate-modal" data-dismiss="modal">cancel</button>
          <%= submit_tag "submit", class: "btn btn-success" %>
        </fieldset>
      <% end %>
      </div>
    </div>
  </div>
</div>