<%#= render "landing_page_header" %>
<div class="container" >
	<%= render 'menu_boxes' %>
	<div class="row padding10">
		<% unless @bounties.blank? %>
			<% @bounties.each do |bounty| %>
				<a href = "/bounty/<%= bounty.id %>">
					<div class="col-sm-4">
						<div class="well white-bg">
							<div>
								<%= image_tag 'cln.jpg', class: "grid-crypto-sym" %>
								<h3 style="display:inline; vertical-align:middle;margin-left:2%;"><%= bounty.name.capitalize rescue 'Not Available'%></h3>
							</div>
							<div class = "line-height-40"><span class="grid-goal-text">Goal: &#036;<%= bounty.goal %></span><span class="grid-goal-text2">/3000</span></div>
							<div>Countdown to End of Project</div><br/>
							<div class = "bounty-flex b-flex-center">	
								<div class = "col-xs-10 zero-padding">
									<div class="progress" style="height:8px; margin-bottom:0px;">
										<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%; height:8px;"></div>
									</div>
								</div>
								<div class = "col-xs-2">
									<div class = "grey-text grey-bold">50%</div>
								</div>
							</div>
							<br/>
							<div class = "round-progress-bars bounty-flex b-flex-center">
								<div class="progress-bar position" data-percent="40" data-duration="1000" data-color="#ededed,#428bca"></div>
								<div class="progress-bar position" data-percent="50" data-duration="1000" data-color="#ededed,#cc9c77"></div>
								<div class="progress-bar position" data-percent="60" data-color="#ededed,#84ca9a"></div>
								<div class="progress-bar position" data-percent="70" data-color="#ededed,#a93755"></div>
							</div>
						</div>
					</div>
				</a>
			<% end %>
		<% else %>
			<h3 class = "text-center">No Bounties Available </p>
		<% end %>
	</div>
</div>
<%= render 'welcome/footer' %>
<script>
	$(".round-progress-bars .progress-bar").loading();
	$('input').on('click', function () {
			$(".progress-bar").loading();
	});
</script>
<!-- test -->

<!-- test -->
<!-- defe -->

