<% unless @flag == true %>
	$("#recaptchaparticipate #message").html("Please verify recaptcha first");
<% else %>
	$("#recaptchaparticipate .modal-body").html("<p>You have participated successfully</p>");
	<% user_id = User.find(@bounty.organizer_id).id %>
	$('.participate-btn').replaceWith('<a class="btn btn-primary pull-right participate-btn" href="/chat/index?user_id=<%= user_id %>">Chat</a>')
<% end %>