<%= render "recaptcha_modal_to_participate" %>
<!-- <div class="container" style="border-bottom: 1px dotted;
    padding-bottom: 1%;"> -->
<article>
	<div class="row">
		<div class = "col-lg-10 col-lg-offset-1">
			<div class = "col-xs-12" style="background:#fff;padding:40px;box-shadow: 0 2px 6px rgba(0,0,0,.1);margin:0px;">
				<% unless current_user.blank? %>
				  <% if Participant.where(user_id: current_user.id,bounty_id: @bounty.id).blank? %>
					  <button class = "btn btn-primary pull-right participate-btn" data-toggle="modal" data-target="#recaptchaparticipate">Participate</button>
					<% else %>
						<%#= link_to 'Chat', chat_index_path+"?user_id="+User.find(@bounty.organizer_id).id, :class => "btn btn-primary pull-right participate-btn" %>
						<!-- <button class = "btn btn-primary pull-right participate-btn" >Participated</button> -->
					<% end %>
				<% else %>
					<%= link_to "Participate", "/users/sign_in", class: "btn btn-primary pull-right" %>
				<% end %>
				<div class = "bounty-mon-row">
				<div class = "col-md-12">
				<h3>Bounty Name</h3>
				Decentralizing Short-Term Housing Rentals. Blockchain Powered Platform With 0% Commissions, Network Effects, Bank-Level Security, and Immutable Reviews
				</div>
				</div>
				<div class = "bounty-mon-row">
				<div class = "col-md-8 row-with-top">
					<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZxtopl_QGtoLsfR_aHTV-5ELCjHqrJ_2rwWNu_6X0Fl_TAAxa" style="width:100%;" >
					<%#= image_tag "sample_bounty_img.jpg", style:"width:100%;" %>
				</div>
				<div class = "col-md-4 row-with-top right-col">
					<div class ="token-sale">Token sale</div>
					<div class = "sale-date"><%=@bounty.sale_starts %></div>
					<div class = "goal-div">
						<div class = "blue-text-goal"><%=@bounty.goal %></div>
						<div class = "goal-text">GOAL</div>
					</div>
					<button class = "btn btn-sm btn-primary">Website</button>
					<br/><br/>
					<button class = "btn btn-sm btn-primary">Whitepaper</button>
				</div>
				</div>
			</div>
			<div class="separator"></div>
			<div class = "col-xs-12" style="background:#fff;padding:40px;box-shadow: 0 2px 6px rgba(0,0,0,.1);margin:0px;">
			<div class = "row list">
				<!-- <h3>Token Sale :<%#= @bounty.sale_starts %></h3> -->
				<div class = "col-md-6">
					<li><span class="grey">Ticker: </span><%=@bounty.ticker %></li>
					<li><span class="grey">Token type: </span><%=@bounty.token_type %></li>
					<li><span class="grey">ICO Token Price: </span><%=@bounty.ico_token_price%></li>
					<li><span class="grey">Fundraising Goal: </span> <%= @bounty.fundraising_goal %></li>
					<li><span class="grey">Total Tokens: </span> <%=@bounty.total_tokens %></li>
					<li><span class="grey">Start Time: </span> <%=@bounty.start_time %></li>
				</div>
				<div class = "col-md-6">
					<li><span class="grey">Whitelist: </span> <%= @bounty.whitelist== true ? "Yes" : "No" %></li>
					<li><span class="grey">Know Your Customer(KYC): </span> <%= @bounty.kyc== true ? "Yes" : "No" %></li>
					<li><span class="grey">Token Issue: </span> <%=@bounty.toke_issue%></li>
					<li><span class="grey">Accepts: </span> <%= @bounty.accepts %></li>
					<li><span class="grey">Available for Token Sale: </span> <%= @bounty.available_for_token_sale %></li>
					<li><span class="grey">End Time: </span> <%= @bounty.start_time %></li>
				</div>
				
			</div>
			</div>
			<div class="separator"></div>
			<div class = "col-xs-12" style="background:#fff;padding:40px;box-shadow: 0 2px 6px rgba(0,0,0,.1);margin:0px;">
			<div class = "row list">
				<!-- <h3>Token Sale :<%#= @bounty.sale_starts %></h3> -->
				<div class = "col-md-6">
					<li><span class="grey">Social Activity Level: </span><%=@bounty.social_activiti_level %></li>
					<li><span class="grey">Number of Team Members: </span><%=@bounty.no_of_team_members %></li>
					<li><span class="grey">ICO Active from: </span><%=@bounty.ico_active_from %></li>
					<li><span class="grey">Escrow: </span><%= @bounty.escrow %></li>
				</div>
				<div class = "col-md-6">
					<li><span class="grey">Prototype: </span><%= @bounty.prototypr %></li>
					<li><span class="grey">Role of Token: </span><%= @bounty.role_of_token %></li>
					<li><span class="grey">Token Issue: </span><%=@bounty.toke_issue%></li>
					<li><span class="grey">Rewords for: </span><%= @bounty.rewords_for %></li>
					<li><span class="grey">instruction: </span><%= @bounty.instruction %></li>
				</div>
			</div>
			</div>
		</div>
		<!-- <div class ="col-lg-10 col-lg-1-offset text-justify"> -->

			
			<%#= @bounty.short_explanation %>
		<!-- </div> -->
	</div>
	<!-- <div class="row"> -->
		<!-- <div class = "col-sm-12 col-md-4 col-md-offset-4"> -->
			
		<!-- </div> -->
	<!-- </div> -->
</artcle>
<div class = "row">
<div class = "col-lg-10 col-lg-offset-1">
<!-- <div class="comment-section"> -->
	<div id="comment_list">
	  <%= render 'comments/comments' %>
	</div>
	<% unless current_user.blank? %>
	  <%= render 'comments/form', comment: @comment %>
	<% else %>
	  <!-- <div style="margin-top: 5%;text-align:center;padding-bottom: 5%;"> -->
	  	<div class="col-xs-12" style = "text-align:center;">
	  		<br/><br/>
	  		<a href="/users/sign_in">
		      <input type="button" class="btn btn-info" value="Login to comment" style="width: 40%;font-size: 20px;">
		    </a>
		    <br/><br/>
		  </div>
		<!-- </div> -->
	<% end %>
<!-- </div> -->
</div>
</div>
<%= javascript_include_tag "bootstrap.min.js" %>
<style type="text/css">
	.separator {
 	height: 1px;
 	background-color: #f6f6f6;
 	margin:0px;
 	padding:0px;
 }
.row-with-top{
	margin-top:45px !important;
	margin-bottom:5px !important;
}
.right-col{
  border-radius: 2px;
  border: 1px solid #ededed;
  padding: 25px 15px 4px 15px;
  margin: 0 auto;
  min-width: 220px;
  font-family: 'Rajdhani',sans-serif;
  font-weight: 500;
  text-align: center;
}
.token-sale{
	text-align: center;
}
.sale-date{
	text-align: center;
	height: 50px;
	margin-top: 15px;
	text-transform: uppercase;
}
.goal-div{
	height: 79px;
}
.blue-text-goal{
	  text-align: center;
	  font-size: 22px;
	  font-weight: 900;
	  color: #2f80ed;
}
.goal-text{
	  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: rgba(0,0,0,.55);
}
.bounty-mon-row{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.row{
	display: flex;
  /*-ms-flex-wrap: wrap;*/
  /*flex-wrap: wrap;*/
  margin-right: -15px;
  margin-left: -15px;
}
.list li{
	padding: 6px 0;
	  font-weight: 700;
	  text-transform: uppercase;
	  display: inline-block;
	  width: 100%;
}
.grey{
	opacity: 1;
  color: rgba(0,0,0,.55);
}
.list li span{
	text-transform: none;
	font-weight: 400;
	font-family: 'Roboto',sans-serif;
}
</style>