<div class"row">
  <div class="col-xs-12" style="border-bottom: 1px solid #eee;">
    <div class="col-xs-10">
      <h1><%= @bounty.name rescue nil%></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>
 
  <% if current_user.roles == :organizer %>
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">User list</h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @users.each do |participant| %>
              <li><%= link_to participant.user.email, conversations_path(user_id: participant.user), remote: true, method: :post %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%#= javascript_include_tag "cable.js","channels/conversation.js" %>

<% unless current_user.roles == :organizer %>
  <%= render 'conversation_script' %>
<% end %>

