<h3 style="margin: 0;text-align:center;">Login</h3>
<div class="login-page" style="padding-top:2%;">
  <div class="form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "login-form"}) do |f| %>
      <%= devise_error_messages! %>
      <%= f.email_field :email, autofocus: true, placeholder: 'username' %>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'password' %>
      <% if devise_mapping.rememberable? -%>
        <div class="form-check remember-me-block">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <%= f.submit "Log in", class: "submit" %>
      <!-- <p class="message"><%#= render "devise/shared/links" %></p> -->
      <p class="message">
        <a href="/create_profile">Sign up</a><br>
        <a href="/users/password/new">Forgot your password?</a><br>
      </p>
    <% end %>
  </div>
</div>