.bounty-container{
  border: 1px solid #dcdada;
  padding: 10px 0px;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
}
.detail-button{
	text-decoration: none; font: menu;
  display: inline-block; padding: 2px 8px;
  background: ButtonFace; color: ButtonText;
  border-style: solid; border-width: 2px;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}
.pending-button{
	background: white;
  background-color: #3071a9;
  border-color: #285e8e;
  color:#fff !important;
}