// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
.comment-section{
  width: 72%;
  border: thin #DDDDDD solid;
  margin-top: 2%;
}
.participate-btn{
	color: white !important;
}