.bounty-flex {
	display: flex;
	align-items: center;
}
.b-flex-center{
	justify-content: center;
}
.b-flex-space-around{
	justify-content: space-around;
}
.b-flex-space-between{
	justify-content: space-between;
}
.b-flex-start{
	justify-content: flex-start;
}
.white-text{
	color:#ffffff;
}
.header-bg{
	background-color: #0891f9;
}
.header-len{
	height: 400px;
}
.zero-border{
	border:none;	
}
.zero-border-radius{
	border-radius:0px;
}

.zero-padding{
	padding:0px;
}
.line-height-40{
	line-height: 40px;
}
.size24{
	font-size: 24px;
}
.padding20{
	padding-left: 20%; padding-right: 20%;
}
.margin5{
	margin-top: -5%; margin-bottom:5%;	
}

.b-flex-column{
	flex-direction: column;
}
.menu-img-box{
	width:100px;
	height:100px;
	background-color: #fff;	
}
.menu-img{
	width:50px;
	height:50px;	
}
.padding10{
	padding-left: 10%;
	padding-right: 10%;
}
.white-bg{
	background-color: #ffffff;
}
.grid-crypto-sym{
	width:40px;
	height:40px;	
}
.grid-goal-text{
	color:#23719c;
	text-shadow: 0 0 2px #8cc2e9ab;
	font-size:15px;
}
.grid-goal-text2{
	color:#a2a297;
	text-shadow: 0 0 2px #c4c4c3;
	font-size:15px;
}
.grid-progress{
	height:8px !important;
	margin-bottom:0px !important;
}
.grid-progress div{
	height:8px;
}
.grey-text{
	color:#959595;
}
.grey-bold{
	font-weight: 700;
}
.padding-15{
	padding-left:15%;
	padding-right: 15%;
}
.top-header-menu{
	padding-top: 2%; margin-bottom: -2px;	
}
.footer-bg{
	background-color: #343854;
}
#landing-footer a, #landing-footer a:hover{
	color:#fff;
	background:none;
}
#header-top a, #header-top a:hover{
	color:#fff;
	background:none;
	text-decoration: none;
}

@media(max-width: 1024px){
	#header-top, #header-big, #footer, #menu_boxes, #landing-footer{
		display:none;
	}	
}

/*@media (min-width:320px) and (max-width:414px){
	#footer-responsive > a{
		width: 100px;
	}	
}
@media (min-width:414px) and (max-width:640px){
	#footer-responsive > a{
		width: 33%;
	}
}
@media (min-width:641px) and (max-width:768px){
	#footer-responsive > a{
		width: 25%;
	}
}
@media (min-width:769px) and (max-width:1023px){
	#footer-responsive > a{
		width: 20%;
	}
}*/
@media (min-width:320px) {
	#mob-menu-click-bar{
		color:#fff;
		background-color: rgba(47, 46, 46, 1);
		border:solid 0px rgba(255, 255, 255, 1);
		/*padding:5%;*/
		cursor: pointer;
		width: 50px;
		border-radius: 3px;
		height: 50px;
		display: flex;
    	align-items: center;
    	justify-content: center;
    	font-size: 30px;

	}
	#mob-menu-click-main{
		display: block !important;
		width:100%;
		background-color: #0891f9;
		/*padding-left:5%;*/
		height: 50px;
	}
	.sidenav {
		display: block !important;
	    height: 100%;
	    width: 0;
	    position: fixed;
	    z-index: 1000000;
	    top: 0;
	    left: 0;
	    background-color: #84ca9a;
	    overflow-x: hidden;
	    transition: 0.5s;
	    padding:0%;
	    padding-top: 80px !important;
	}

	.sidenav li{
		list-style: none;
		text-align: left;
		border-bottom: 1px solid #fff;
	}

	.sidenav a {
	    padding: 8px 0px 8px 0px;
	    text-decoration: none;
	    font-size: 14px;
	    color: #fff;
	    display: block;
	    transition: 0.3s;
	}
	.sidenav a:visited{
		color:#fff !important;
	}
	.sidenav li:hover{
		color:#fff;
		background-color: #84ca9a;
	}

	.sidenav a:hover {
	    color: #fff;
	    background-color: #84ca9a;
	}

	.sidenav .closebtn {
	    position: absolute;
	    top: 0;
	    left: 7%;
	    font-size: 36px;
	    /*margin-left: 50px;*/
	}
	.sidenav li:first-child{
		border-bottom: none;
	}
	#footer-responsive{
		display: flex;
  		flex-wrap: wrap;
  		justify-content: center;
	}
	#footer-responsive > a{
		width: 200px;
  		margin: 10px;
  		text-align: center;
  		line-height: 40px;
  		font-size: 20px;
  		color:#fff;
	}
	#footer-responsive > a:hover{
  		color:#fff;
	}
}
@media(min-width: 1024px){
	#mob-menu-click-bar, #mob-menu-click-main, .sidenav, #footer-responsive{
		display:none !important;
	}	
}




