<div class="navbar navbar-default navbar-static-top">
      <div class="container">
      <div class = "col-xs-12">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        </button>
        <a class="navbar-brand" href="/">BountyMonster</a>
        <% if current_user.present? %>
          <% if current_user.roles == :admin %>
            <a class="navbar-brand" href="/bounties">Bounties</a>
            <a class="navbar-brand" href="/users">Users</a>
          <% elsif current_user.roles == :organizer %>
            <a class="navbar-brand" href="/bounties">Bounties</a>
          <% end %>
        <% end %>
        <% if current_user.present? %>
          <a class="navbar-brand" href="#" style="margin-left: 33%;"><%= current_user.roles.to_s.capitalize rescue nil %></a>
        <% end %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav pull-right">
          	<li><%= link_to "Bounty List", "/" %></li>
            <% if user_signed_in? %>
              <li>
                <% unless current_user.roles == :admin %>
                  <a href="/users/<%= current_user.id %>">
                    <%= image_tag(user_avatar, :style=>'width:30px;') %>
                  </a>
                <% else %>
                  <%= image_tag(user_avatar, :style=>'width:30px;') %>
                <% end %>
              </li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
              <li><%= link_to "Sign up", '/create_profile' %></li>
               <!-- <li><%#= link_to "Sign up", new_user_registration_path %></li> -->
            <% end %>
          </ul>
        </div>
        </div>
        <div class = "col-xs-12">
          <% if current_user.present?  %>
            <% if current_user.roles == :admin %>
              <%= form_tag '/upload_template', multipart: true, :id => 'filter_form', :remote => true do %>
                <%= file_field_tag "file" %>
                <%= submit_tag %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>