<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "BountyMonster" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>


    <%= javascript_include_tag "application" %>

     <%= action_cable_meta_tag %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
    <%#= render 'layouts/header' %>
    <%= render "welcome/landing_page_header" %>
    <div id = "content" class = "site-content">
      <div id = "primary" class = "content-area">
        <main id = "main" class = "site-main">
          <!-- <div class = "container"> -->
            <%= bootstrap_flash %>
            <%= yield %>
          <!-- </div> -->
        </main>
      </div>
    </div>  
  </body>
</html>
<!-- <div class="container"> -->
      <!-- <div class="row"> -->
        <!-- <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%#= yield %>
        </div> -->
      <!-- </div> -->

    <!-- </div> -->
